<gmp-tab>
  <gmp-tab-header>
    Sytuacje kryzysowe
  </gmp-tab-header>

  <gmp-tab-content>
    <div class="table-wrapper">
      <mat-form-field color="accent">
        <mat-label>Typ sytuacji kryzysowej</mat-label>
        <mat-select [(value)]="filterValue" (selectionChange)="onFilterSelected($event.value)">
          <mat-option  [value]="EmergencyStatusEnum.ACTIVE">Aktywne</mat-option>
          <mat-option  [value]="EmergencyStatusEnum.RESOLVED">Rozwiązane</mat-option>
          <mat-option  [value]="'all'">Wszystkie</mat-option>
        </mat-select>
      </mat-form-field>
      <table *ngIf="emergencyDataSource.data.length" [dataSource]="emergencyDataSource" mat-table>
        <ng-container matColumnDef="emergency_id">
          <th *matHeaderCellDef mat-header-cell>Id</th>
          <td *matCellDef="let element" mat-cell> {{element.emergency_id}} </td>
        </ng-container>
        <ng-container matColumnDef="emergency_status">
          <th *matHeaderCellDef mat-header-cell>Status</th>
          <td *matCellDef="let element" mat-cell> {{'emergencyStatus.' + EmergencyStatusEnum[element.emergency_status].toLowerCase() | translate}} </td>
        </ng-container>
        <ng-container matColumnDef="emergency_type">
          <th *matHeaderCellDef mat-header-cell>Rodzaj sytuacji</th>
          <td *matCellDef="let element" mat-cell> {{'emergencyType.' + EmergencyTypeEnum[element.emergency_type].toLowerCase() | translate}}</td>
        </ng-container>
        <ng-container matColumnDef="emergency_timestamp">
          <th *matHeaderCellDef mat-header-cell>Data zgłoszenia</th>
          <td *matCellDef="let element" mat-cell> {{element.emergency_timestamp | date:'dd.MM.YYYY, H:mm'}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="actions-column" mat-header-cell></th>
          <td *matCellDef="let element" mat-cell>
            <button [routerLink]="element.emergency_id" color="accent" mat-button>
              Szczegóły
            </button>
          </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
  </gmp-tab-content>
</gmp-tab>

