@import '../../../../variables';

.dialog-content {
  width: 100%;
  padding-top: 24px;

  ::ng-deep {
    form {
      font-size: 16px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      mat-form-field {
        width: 100%;
        padding-bottom: 24px;
      }
    }

    .button-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 12px;
    }

  }
}

