@import '../../../../variables';

.content-wrapper {
  padding-top: 20px;
}

table {
  width: 100%;
}

h3 {
  margin-bottom: 0;
  color: $secondary;
}

p {
  margin-top: 0;
}

.table-actions {
  padding-top: 5px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;

  mat-divider {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .table-info {
    color: $dark-gray;
  }
}
