<gmp-dialog>
  <gmp-dialog-header>
    Dodaj nowe leśnictwo
  </gmp-dialog-header>
  <gmp-dialog-content>
    <form [formGroup]="newForestryFormGroup" (ngSubmit)="onSubmit()">
      <mat-form-field color="accent">
        <input matInput
               [formControlName]="'name'"
               autocomplete="off"
               placeholder="Nazwa">
        <mat-error *ngIf="newForestryFormGroup.get('name')?.hasError('whitespace')">
          To pole nie może być puste.
        </mat-error>
        <mat-error *ngIf="newForestryFormGroup.get('name')?.hasError('pattern')">
          Dozwolone tylko litery, spacje i myślniki.
        </mat-error>
        <mat-error *ngIf="newForestryFormGroup.get('name')?.hasError('maxlength')">
          Dozwolone max. 30 znaków.
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput
               [formControlName]="'surface'"
               autocomplete="off"
               type="number"
               min="0"
               placeholder="Powierzchnia [ha]">
        <mat-error *ngIf="newForestryFormGroup.get('surface')?.hasError('required')">
          To pole nie może być puste.
        </mat-error>
        <mat-error *ngIf="newForestryFormGroup.get('surface')?.hasError('min')">
          Dozwolone tylko liczby dodatnie.
        </mat-error>
        <mat-error *ngIf="newForestryFormGroup.get('surface')?.hasError('max')">
          Maksymalna powierzchnia leśnictwa to 10000 ha.
        </mat-error>
      </mat-form-field>

      <div class="button-row">
        <button mat-stroked-button type="button" (click)="onClose()" color="accent">Anuluj</button>
        <button mat-raised-button type="submit" color="accent">Dodaj</button>
      </div>
    </form>
  </gmp-dialog-content>
</gmp-dialog>
