<gmp-tab>
  <gmp-tab-header>
    Szczegóły sytuacji kryzysowej
  </gmp-tab-header>
  <gmp-tab-content>
    <div class="content-wrapper" *ngIf="emergencyDetails">
      <button (click)="onResolveEmergencyClicked()"
              color="accent"
              mat-raised-button>
        Rozwiąż sytuację kryzysową
      </button>
      <h3>Typ: {{'emergencyType.' + EmergencyTypeEnum[emergencyDetails.emergency_type].toLowerCase() | translate}}</h3>
      <h3>Id sensora: {{emergencyDetails.sensor_id}}</h3>
      <h3>Pomiary:</h3>
      <div class="table-actions">
      </div>
      <table *ngIf="measurementsDataSource.data.length" [dataSource]="measurementsDataSource" mat-table>
        <ng-container matColumnDef="emergency_value">
          <th *matHeaderCellDef mat-header-cell>Wartość</th>
          <td *matCellDef="let element" mat-cell> {{element.emergency_value}} </td>
        </ng-container>
        <ng-container matColumnDef="emergency_timestamp">
          <th *matHeaderCellDef mat-header-cell> Data</th>
          <td *matCellDef="let element" mat-cell> {{element.emergency_timestamp | date:'dd.MM.YYYY, H:mm'}} </td>
        </ng-container>
        <tr *matHeaderRowDef="measurementsColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: measurementsColumns;" mat-row></tr>
      </table>
    </div>
  </gmp-tab-content>
</gmp-tab>
