$primary: #5c6bc0;
$primary-light: #9098c1;
$primary-light-box: #c0c5d9;

$secondary: #0097a7;
$secondary-light-active: #90d0dd;
$secondary-light-active-hover: #83c8d5;
$secondary-light: #c1d9de;
$secondary-light-hover: #a3d1da;

$warn: #f2b872;

$error: #ff7043;

$green: #80c276;

$white: #F4F4F4;
$white-hover: #E6E6E6;

$light-gray: #C4C4C4;


$black: #202020;
$dark-gray: #4c4c4c;

$transition: all 100ms ease-in-out;
